body {
    font-family: 'Segoe UI', sans-serif;
}


/* Card elegante */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-3px);
}

.form-control, .form-select {
    border-radius: 10px;
    padding: 10px;
}

/* Botones */
.btn {
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 500;
}

/* Canvas firma */
canvas {
    cursor: pointer;
    background: #fff;
}

/* Responsive ajustes */
@media (max-width: 576px) {
    .card-body {
        padding: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

.swal2-popup {
    font-family: 'Poppins', sans-serif;
}